#join-code {
    color:lightgray;
}


a {
  text-decoration: none;

}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

#centre-content-main-page {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
